@model Safeway.ViewModel.EnterpriseBasicInfoVMs.EnterpriseBasicInfoVM;
    <style>
        .el-table td, .el-table th.is-leaf {
            text-align: left;
            line-height: 25px;
            padding: 5px;
            font-size: 14px;
            color: black;
            cursor: pointer;
        }
        .layui-layer-page .layui-layer-content{
            overflow: hidden;
        }
    </style>
    <div id="EnterpriseInfo">
        <el-card class="box-card">
            <template>
                <el-tabs v-model="activeName">
                    <el-tab-pane label="基本信息" name="basicInfo">
                        <div id="BasicInfo">
                            <el-row class="row">
                                <el-col :span="2"><div class="grid-content bg-black">公司名称<span class="redstart">*</span></div></el-col>
                                <el-col :span="7">
                                    <el-input v-model="basicInfo.ComapanyName"></el-input>
                                </el-col>
                                <el-col :span="2" :offset="1"><div class="grid-content bg-black">省份</div></el-col>
                                <el-col :span="7">
                                    <template>
                                        <el-select v-model="basicInfo.Province" @@change="handleProvinceChange" placeholder="请选择">
                                            <el-option v-for="item in provinceList"
                                                       :key="item.id"
                                                       :label="item.name"
                                                       :value="item.id">
                                            </el-option>
                                        </el-select>
                                    </template>
                                </el-col>
                            </el-row>
                            <el-row class="row">
                                <el-col :span="2"><div class="grid-content bg-black">市</div></el-col>
                                <el-col :span="7">
                                    <template>
                                        <el-select v-model="basicInfo.City" @@change="handleCityChange" placeholder="请选择">
                                            <el-option v-for="item in cityList"
                                                       :key="item.id"
                                                       :label="item.name"
                                                       :value="item.id">
                                            </el-option>
                                        </el-select>
                                    </template>
                                </el-col>
                                <el-col :span="2" :offset="1"><div class="grid-content bg-black">区</div></el-col>
                                <el-col :span="7">
                                    <template>
                                        <el-select v-model="basicInfo.District" placeholder="请选择">
                                            <el-option v-for="item in districtList"
                                                       :key="item.id"
                                                       :label="item.name"
                                                       :value="item.id">
                                            </el-option>
                                        </el-select>
                                    </template>
                                </el-col>
                            </el-row>
                            <el-row class="row">
                                <el-col :span="2"><div class="grid-content bg-black">街道</div></el-col>
                                <el-col :span="7">
                                    <el-input v-model="basicInfo.Street"></el-input>
                                </el-col>
                                <el-col :span="2" :offset="1"><div class="grid-content bg-black">企业类型</div></el-col>
                                <el-col :span="7">
                                    <el-cascader v-model="selectedCompanyType"
                                                 :options="companyTypeList"
                                                 @@change="handleCompanyTypeChange">
                                    </el-cascader>
                                </el-col>
                            </el-row>
                            <el-row class="row">
                                <el-col :span="2"><div class="grid-content bg-black">企业所属国家</div></el-col>
                                <el-col :span="7">
                                    <el-input v-model="basicInfo.ForeignCountry"></el-input>
                                </el-col>
                                <el-col :span="2" :offset="1"><div class="grid-content bg-black">法定代表人</div></el-col>
                                <el-col :span="7">
                                    <el-input v-model="basicInfo.LegalRepresentative"></el-input>
                                </el-col>
                            </el-row>
                            <el-row class="row">
                                <el-col :span="2"><div class="grid-content bg-black">企业规模</div></el-col>
                                <el-col :span="7">
                                    <el-select v-model="basicInfo.CompanyScale" placeholder="请选择">
                                        <el-option v-for="item in companyScaleList"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-col>
                                <el-col :span="2" :offset="1"><div class="grid-content bg-black">行业</div></el-col>
                                <el-col :span="7">
                                    <el-cascader v-model="selectedIndustry"
                                                 :options="industryList"
                                                 @@change="handleIndustryChange">
                                    </el-cascader>
                                </el-col>
                            </el-row>
                            <el-row class="row">
                                <el-col :span="2"><div class="grid-content bg-black">公司人数</div></el-col>
                                <el-col :span="7">
                                    <el-input v-model="basicInfo.NoofEmployees"></el-input>
                                </el-col>
                                <el-col :span="2" :offset="1"><div class="grid-content bg-black">主要产品</div></el-col>
                                <el-col :span="7">
                                    <el-input v-model="basicInfo.MainProducts"></el-input>
                                </el-col>
                            </el-row>
                            <el-row class="row">
                                <el-col :span="2"><div class="grid-content bg-black">贸易方式</div></el-col>
                                <el-col :span="7">
                                    <template>
                                        <el-select v-model="basicInfo.TermsofTrade" placeholder="请选择">
                                            <el-option v-for="item in tradeTermList"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </template>
                                </el-col>
                            </el-row>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="商务信息" name="BusinessInfo">
                        <div id="BusinessInfo">
                            <el-table :data="businessInfoList" style="width: 100%" border class="grid-content bg-black">
                                <el-table-column label="安全服务类型" width="160">
                                    <template slot-scope="scope">
                                        <el-select v-model="scope.row.SafetyServiceType" placeholder="请选择">
                                            <el-option v-for="item in ServiceTypes"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </template>
                                </el-table-column>
                                <el-table-column label="其他" width="180">
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.OtherSafetyServiceType"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column label="证书等级" width="120">
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.CertificateLevel"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column label="到期时间" width="260">
                                    <template slot-scope="scope">
                                        <el-date-picker v-model="scope.row.ExpireDate"
                                                        type="date"
                                                        placeholder="请选择">
                                        </el-date-picker>
                                    </template>
                                </el-table-column>
                                <el-table-column label="原服务公司" width="180">
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.OriginalServiceCom"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column label="描述" width="260">
                                    <template slot-scope="scope">
                                        <el-input type="textarea"
                                                  :rows="1"
                                                  v-model="scope.row.Description">
                                        </el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column label="" width="55" align="center">
                                    <template slot-scope="scope">
                                        <i @@click="remove(scope.$index, scope.row)" class="el-icon-delete" style="cursor:pointer;"></i>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-row>
                                <el-col :span="5"> <el-button @@click="handleAddNew" :loading="newLoading">新增</el-button></el-col>
                            </el-row>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="财务信息" name="FinanceInfo">
                        <el-row class="row">
                            <el-col :span="3"><div class="grid-content bg-black">统一社会信用代码</div></el-col>
                            <el-col :span="7">
                                <el-input v-model="financeInfo.UnifiedSocialCreditCode"></el-input>
                            </el-col>
                            <el-col :span="3"><div class="grid-content bg-black">单位地址</div></el-col>
                            <el-col :span="7">
                                <el-input v-model="financeInfo.Company_Address"></el-input>
                            </el-col>
                        </el-row>
                        <el-row class="row">
                            <el-col :span="3"><div class="grid-content bg-black">电话号码</div></el-col>
                            <el-col :span="7">
                                <el-input v-model="financeInfo.Tele_Number"></el-input>
                            </el-col>
                            <el-col :span="3"><div class="grid-content bg-black">开户银行</div></el-col>
                            <el-col :span="7">
                                <el-input v-model="financeInfo.Bank"></el-input>
                            </el-col>
                        </el-row>
                        <el-row class="row">
                            <el-col :span="3"><div class="grid-content bg-black">银行账户</div></el-col>
                            <el-col :span="7">
                                <el-input v-model="financeInfo.Account"></el-input>
                            </el-col>
                            <el-col :span="3"><div class="grid-content bg-black">发票接收人</div></el-col>
                            <el-col :span="7">
                                <el-input v-model="financeInfo.CustomerReceiptReceiver"></el-input>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane label="联系人信息" name="ContactInfo">
                        <template>
                            <el-table :data="contactList" style="width: 100%">
                                <el-table-column prop="Position" label="职位" width="180">
                                </el-table-column>
                                <el-table-column label="部门" width="180">
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.Dept"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column label="姓名" width="180">
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.Name"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column label="座机" width="180">
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.Tele"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column label="手机" width="180">
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.MobilePhone"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column label="邮箱" width="180">
                                    <template slot-scope="scope">
                                        <el-input v-model="scope.row.Email"></el-input>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                    </el-tab-pane>
                    <el-tab-pane label="年收益" name="YieldInfo">
                        <div>
                            <el-table :data="yearYieldList" style="width: 100%">
                                <el-table-column label="财年" width="250">
                                    <template slot-scope="scope">
                                        <el-date-picker v-model="scope.row.FiscalYear"
                                                        type="year"
                                                        placeholder="选择财年">
                                        </el-date-picker>
                                    </template>
                                </el-table-column>
                                <el-table-column label="年收益" width="180">
                                    <template slot-scope="scope">
                                        <el-input v-model.number="scope.row.YearYieldValue"></el-input>
                                    </template>
                                </el-table-column>
                                <el-table-column label="" width="55" align="center">
                                    <template slot-scope="scope">
                                        <i @@click="removeYearYield(scope.$index, scope.row)" class="el-icon-delete" style="cursor:pointer;"></i>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-row>
                                <el-col :span="5"> <el-button @@click="handleAddNewYearYield" :loading="newLoading">新增</el-button></el-col>
                            </el-row>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </template>
        </el-card>
        <el-row :gutter="20">
            <el-col :span="20" :offset="20">
                <el-button style="margin:0 auto" @@click="handleSubmit" type="primary">提交</el-button>
                <el-button style="margin:0 auto" @@click="handleCancel">取消</el-button>
            </el-col>
        </el-row>
    </div>
<script>

        var EnterpriseInfoVM = new Vue({
            el: '#EnterpriseInfo',
            data: {
                basicId: '',
                activeName: 'basicInfo',
                newLoading: false,
                selectedOption: '',
                selectedDate: '',
                selectedIndustry: [],
                selectedCompanyType: [],
                ServiceTypes: [
                    {
                        label: "安全生产标准化",
                        value: "SafetyProductionStandard",
                    }, {
                        label: "双重预防机智",
                        value: "DoublePreventionMechanism",
                    }, {
                        label: "安全应急预案",
                        value: "SafetyEmergencyPlan",
                    }, {
                        label: "安全现状评价",
                        value: "SageEvaluation",
                    }, {
                        label: "就业卫生现状评价",
                        value: "EmploymentHealthEva",
                    }, {
                        label: "定期安全服务",
                        value: "RegularSafetyService",
                    }, {
                        label: "环境应急预案",
                        value: "EnvEmergencyPlan",
                    }, {
                        label: "其他",
                        value: "Others",
                    }],

                businessInfoList: [],
                basicInfo: {
                    ComapanyName: '',
                    Province: '',
                    City: '',
                    District: '',
                    Street: '',
                    CompanyType: '',
                    ForeignCountry: '',
                    LegalRepresentative: '',
                    CompanyScale: '',
                    Industry: '',
                    NoofEmployees: '',
                    MainProducts: '',
                    TermsofTrade: '',
                },
                financeInfo: {
                    UnifiedSocialCreditCode:'',
                    Company_Address:'',
                    Tele_Number:'',
                    Bank:'',
                    Account:'',
                    CustomerReceiptReceiver: '',
                    EnterpriseBasicId: '',
                },
                provinceList: [],
                cityList: [],
                districtList: [],
                tradeTermList: [{
                    label: '出口',
                    value: 'Export',
                }, {
                    label: '内销',
                    value: 'DomesticSales',
                    }],
                industryList:[],
                //industryList: [{
                //    label:'矿山',
                //    value:'Mine',
                //},{
                //    label:'道路运输',
                //    value:'Transportation',
                //},{
                //    label:'危化',
                //    value:'DangerChemistry',
                //},{
                //    label:'工贸',
                //    value: 'IndustryandTrade',
                //    children:
                //      [{
                //        value: 'metallurgy',
                //        label: '冶金'
                //      }, {
                //        value: 'colored',
                //        label: '有色'
                //      }, {
                //        value: 'mechanical',
                //        label: '机械'
                //      }, {
                //        value: 'buildingMaterial',
                //        label: '建材'
                //      }, {
                //        value: 'textile',
                //        label: '纺织'
                //      }, {
                //        value: 'lightIndustry',
                //        label: '轻工'
                //      }, {
                //        value: 'tobacoo',
                //        label: '烟草'
                //      }, {
                //        value: 'bizsTrade',
                //        label: '商贸'
                //      }]
                //    }],
                companyScaleList: [{
                        value: 'large',
                        label: '规上'
                    }, {
                        value: 'small',
                        label: '小型'
                    }, {
                        value: 'mini',
                        label: '微型'
                    }],
                companyTypeList: [
                    {
                        value: 'stateOwned',
                        label: '国有'
                    }, {
                        value: 'private',
                        label: '民营'
                    }, {
                        value: 'foreignInvest',
                        label: '外资',
                        children:
                      [{
                        value: 'usa',
                        label: '美国'
                      }, {
                        value: 'eur',
                        label: '欧洲'
                      }, {
                        value: 'jpn',
                        label: '日本'
                      }, {
                        value: 'twd',
                        label: '台湾'
                      }, {
                        value: 'others',
                        label: '其他'
                      }]
                    }],
                contactList: [{
                    Dept: '',
                    Position: '法人',
                    Name: '',
                    Tele: '',
                    MobilePhone: '',
                    Email: '',
                    EnterpriseBasicInfoId: ''
                },{
                    Dept: '',
                    Position: '主要负责人',
                    Name: '',
                    Tele: '',
                    MobilePhone: '',
                    Email: '',
                    EnterpriseBasicInfoId: ''
                },{
                    Dept: '',
                    Position: '安全部门负责人',
                    Name: '',
                    Tele: '',
                    MobilePhone: '',
                    Email: '',
                    EnterpriseBasicInfoId: ''
                },{
                    Dept: '',
                    Position: '安全部门联系人',
                    Name: '',
                    Tele: '',
                    MobilePhone: '',
                    Email: '',
                    EnterpriseBasicInfoId: ''
                },{
                    Dept: '',
                    Position: '安全部门其他人',
                    Name: '',
                    Tele: '',
                    MobilePhone: '',
                    Email: '',
                    EnterpriseBasicInfoId: ''
                },{
                    Dept: '',
                    Position: '采购部门负责人',
                    Name: '',
                    Tele: '',
                    MobilePhone: '',
                    Email: '',
                    EnterpriseBasicInfoId: ''
                },{
                    Dept: '',
                    Position: '采购部门联系人',
                    Name: '',
                    Tele: '',
                    MobilePhone: '',
                    Email: '',
                    }],
                yearYieldList: [{
                    FiscalYear: '',
                    YearYieldValue: 0,
                    EnterpriseBasicInfoId: '',
                }]
            },
            methods: {
                handleCancel: function ()
                {
                    ff.CloseDialog();
                },
                handleCompanyTypeChange: function (value) {

                    this.basicInfo.CompanyType = this.selectedCompanyType.join("/");
                },
                handleIndustryChange: function (value) {

                    this.basicInfo.Industry = this.selectedIndustry.join("/");
                },
                generateSubmitFormat: function () {
                    //add  ID
                    this.basicInfo.ID = this.basicId;
                    this.businessInfoList.map(function (row, index) {
                        row.EnterpriseBasicInfoId = this.basicId
                    }.bind(this));

                    this.financeInfo.EnterpriseBasicId = this.basicId;
                    this.contactList.map(function (row, index) {
                        row.EnterpriseBasicInfoId = this.basicId;
                    }.bind(this));

                    this.yearYieldList.map(function (row, index) {
                        row.EnterpriseBasicInfoId = this.basicId;
                    }.bind(this))
                    this.basicInfo.CompanyType = this.selectedCompanyType.join("/");
                    this.basicInfo.Industry = this.selectedIndustry.join("/");

                },
                handleProvinceChange: function (val) {
                    axios.get('EnterpriseBasicInfo/GetCities?provinceid=' + val)
                        .then(function (r) {
                            this.cityList = r.data.Data;
                    }.bind(this))
                    .catch(function (e) {
                        console.error(e);
                    });
                },
                handleCityChange: function (val) {
                    axios.get('EnterpriseBasicInfo/GetDistricts?cityid=' + val)
                        .then(function (r) {
                            this.districtList = r.data.Data;
                    }.bind(this))
                    .catch(function (e) {
                        console.error(e);
                    });
                },
                handleSubmit: function () {
                    this.generateSubmitFormat();
                    var parameters = [
                                JSON.stringify(this.basicInfo),
                                JSON.stringify(this.businessInfoList),
                                JSON.stringify(this.financeInfo),
                                JSON.stringify(this.contactList),
                                JSON.stringify(this.yearYieldList)
                            ];
                     axios.post('EnterpriseBasicInfo/AddEnterpriseInfo',parameters)
                    .then(function (response) {
                        this.$notify.success({
                            title: '提示',
                            message: '新增成功！',
                            position: 'bottom-right'
                        });
                        ff.CloseDialog();
                        ff.RefreshGrid('LAY_app_body',0);
                    }.bind(this))

                },
                loadData: function ()
                {

                    this.basicId = @Html.Raw(Json.Serialize(Model.Entity.ID));
                    axios.get('EnterpriseBasicInfo/GetProvinces')
                        .then(function (r) {
                            this.provinceList = r.data.Data;
                    }.bind(this))
                    .catch(function (e) {
                        console.error(e);
                    });

                },
                remove: function (index, row) {
                    if (this.businessInfoList.length > 0) {
                        this.businessInfoList.splice(index, 1);
                    }
                },
                removeYearYield: function (index, row) {
                    if (this.yearYieldList.length > 0) {
                        this.yearYieldList.splice(index, 1);
                    }
                },
                handleAddNew: function ()
                {
                    this.newLoading = true;
                    let NewBusinessInfo = {

                        SafetyServiceType:'',
                        OtherSafetyServiceType: '',
                        CertificateLevel: '',
                        ExpireDate: '',
                        Description:'',
                    }
                    this.businessInfoList.push(NewBusinessInfo);
                    setTimeout("EnterpriseInfoVM.newLoading = false;", 500)
                },
                handleAddNewYearYield: function ()
                {
                     this.newLoading = true;
                    let NewYearYield = {
                        FiscalYear: '',
                        YearYieldValue: 0,
                        EnterpriseBasicInfoId: '',
                    }
                    this.yearYieldList.push(NewYearYield);
                    setTimeout("EnterpriseInfoVM.newLoading = false;", 500)

                },
                loadDictionaryData: function () {
                    axios.get('EnterpriseBasicInfo/GetDictionaryData?dictionaryCode=industryList')
                        .then(function (r) {
                            console.log(r.data.Data);
                            this.industryList = r.data.Data;
                    }.bind(this))
                    .catch(function (e) {
                        console.error(e);
                    });

                },
            },
            created: function () {
                this.loadData();
                this.loadDictionaryData();
            }

        })
</script>